Source: sassrv
Section: devel
Priority: optional
Maintainer: Chris Anderson <chris@raitechnology.com>
Build-Depends: debhelper (>= 9), raikv, raimd, libpcre2-dev, libdecnumber, chrpath
Standards-Version: 3.9.5
Homepage: https://www.github.com/raitechnology/sassrv

Package: sassrv
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Sass RV
 Sass RV Market Data protocol
